body {
    font-family: Arial, sans-serif;
    background-color: #063b75; /* Fond bleu */
    /*color: #fff; /* Texte en blanc pour le contraste */
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: #fff; /* Fond blanc pour le formulaire */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 50px; /* Espace au-dessus du formulaire */
}

h2 {
    color: #007BFF; /* Couleur du titre en bleu */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF; /* Fond du bouton en bleu */
    color: #fff; /* Texte du bouton en blanc */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Bleu plus foncé au survol */
}
